* text=auto

*.ets text eol=lf
*.ts text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.json5 text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.svg text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.hap binary
*.cer binary
*.p7b binary
*.p12 binary
