/node_modules
/tools/icon/node_modules/
/tools/icon/preview/
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/signing.local.json
